/* Стиль для главной страницы(шапка и т.п)*/

body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}

.nav-left {

    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Выравниваем элементы списка по горизонтали */
    padding-right:30px;
}



.nav-right {

    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Выравниваем элементы списка по горизонтали */

}

ul {
    justify-content: center;
    padding-left: 30px;
}

.h2 {        /*тоже какое-то смещение*/
    text-align: center;
    padding:5px;
    margin-right:100px;
    

}

.bias {            /*Смещение*/
        padding:0px;
        margin-right:-5px;
}
