/* Стиль для главной страницы(шапка и т.п)*/

body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif

}

nav {
    display: flex;
    align-items: center;
    margin: 10px;

}

nav ul li {
    display: inline; /* Выравниваем элементы списка по горизонтали */
    margin: 0 15px; /* Отступы между элементами */
}