/* Стиль для главной страницы(шапка и т.п)*/

body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding: 10px;
    
}

.nav-left, .nav-right {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Выравниваем элементы списка по горизонтали */
}

.nav-left li, .nav-right li {
    margin: 0 15 px; /* Отступы между элементами */
}

.nav-right {
    margin-left: auto; /* Отодвигает правую часть до конца */
}   
