<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <nav>
        <ul class="nav-left_logo">
            <li>
                <a href="{{ url_for('index') }}">
                <img src="../static/img/icone1.jpg" width="200" height="170"></a>
            </li>
        </ul>
    <nav2>
        <ul class="nav-left_text">
            <li><a href="{{ url_for('uslugi') }}">Наши услуги</a></li>
        </ul>
        <ul class="nav-left_text">
            <li><a href="{{ url_for('specialists') }}">Специалисты</a></li>
        </ul>
        <ul class="nav-left_text">
            <li><a href="{{ url_for('contactu') }}">Контакты</a></li>
        </ul>
        <ul class="nav-left_text">
            <li><a href="{{ url_for('photo') }}">Наши фото</a></li>
        </ul>
    </nav2>
        <ul class="nav-left_phonenumber">          
            <li>
                <img src="../static/img/img2.png">
                <a href="tel:+79271472947">8-927-147-29-47</a>
            </li>
        </ul>
    </nav>
    </header>
    {% block body %}
    {% endblock %}
    {% block footer %}
    <footer></footer>
    {% endblock %}
</body>