<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
    <nav>
        <ul class="nav-left_logo">
            <li>
                <a href="{{ url_for('index') }}">
                <img src="../static/img/Логотип.svg"width="200" height="170"></a>
            </li>
        </ul>
    <nav2>
        <ul class="nav-left_text">
            <li><a href="{{ url_for('uslugi') }}">Наши услуги</a></li>
        </ul>
        <ul class="nav-left_text">
            <li><a href="{{ url_for('price_list') }}">Прайс-лист</a></li>
        </ul>
        <ul class="nav-left_text ">
            <li><a href="{{ url_for('specialists') }}">Специалисты</a></li>
        </ul>
    </nav2>
        <ul class="nav-left_phonenumber">
            <li><a href="tel:+79271003585">8-927-100-35-85</a></li>
        </ul>
    </nav>
    </header>
    {% block body %}
    {% endblock %}
</body>