{% extends 'base.html' %}
{% block title %}
Контакты
{% endblock %}

{% block body %}
<ul>

    <li>
    <h1>Контакты нашей стоматологии:</h1>
    </li>
    <li>
        <b>Адрес:</b>
        <p>ул. 30 лет Победы, 13, Балаково</p>
    </li>
    <li>
        <b>График работы Стоматологии "Для Вас":</b>
        <p><u>Пн.-Пт.:</u> 9:00-19:00.</p>
        <p><u>Сб.-Вс.:</u> Выходной.</p>
    </li>

    <li>
        <b>Директор:</b>
        <p>Костенко Алла Владимировна</p>
    </li>

    <li>
        <b>Телефон:</b>
        <p>8-927-147-29-47</p>
    </li>

</ul>
<div class="map_pos">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A19990bb8760ed915b7f5963935c01930c8b120c6df6cb792cab72f02ece27c24&amp;source=constructor" width="1000" height="1000" frameborder="0">
    </iframe>
</div>
{% endblock %}