<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наша стоматология</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-left_logo">
                <li>
                    <a href="{{ url_for('index') }}">
                    <img src="../static/img/Логотип.svg"width="200" height="170"></a>
                </li>
            </ul>
        <nav2>
            <ul class="nav-left_text">
                <li><a href="{{ url_for('uslugi') }}">Наши услуги</a></li>
            </ul>
            <ul class="nav-left_text">
                <li><a href="{{ url_for('price_list') }}">Прайс-лист</a></li>
            </ul>
            <ul class="nav-left_text ">
                <li><a href="{{ url_for('specialists') }}">Специалисты</a></li>
            </ul>
        </nav2>
            <ul class="nav-left_phonenumber">
                <li><a href="tel:+79271003585">8-927-100-35-85</a></li>
            </ul>
        </nav>
    </header>
<ul class="nav-left_text_2">
    <h1>Стоматология Для Вас - надежные стоматологи, белоснежная улыбка</h1>
</ul>
<ul class="nav-left_text_2">
    <p>Мы предлагаем комплексный подход к лечению зубов,
        чтобы вы могли гордиться своей улыбкой и чувствовать себя уверенно в любой ситуации. 
        Наша команда высококвалифицированных стоматологов и 
        современное оборудование позволяют обеспечивать максимально эффективное и безопасное лечение.</p> <!-- текст про то, какие мы хорошие-->
    </ul>
<ul class="nav-left_text_2">
    <h1>Почему выбирают именно нас</h1>
</ul> 
    <ul class="nav-left_text_2">
    <li class="nav-text-down">
        <h4>Высококвалифицированные специалисты</h4>
    <p>В нашей клинике работают опытные врачи, которые постоянно совершенствуют свои навыки и 
        следят за новыми достижениями в стоматологии. Это позволяет нам гарантировать высокий уровень профессионализма и уверенность в результате лечения</p>
    </li>
    <li class="nav-text-down">
    <h4>Современное оборудование и технологии</h4>
    <p>Мы используем передовые технологии и оборудование последнего поколения,
         что делает лечение более безопасным, точным и комфортным. Это помогает нам минимизировать неприятные ощущения и ускорить процесс восстановления.</p>
        </li>
    <li class="nav-text-down">
    <h4>Индивидуальный подход к каждому пациенту</h4>
    <p>Мы знаем, что каждый случай уникален, поэтому подбираем индивидуальные планы лечения с учетом особенностей состояния здоровья и пожеланий пациента.
         Такой подход позволяет достичь наилучших результатов и обеспечить максимальный комфорт.</p>
        </li>
    <li class="nav-text-down">
    <h4>Доступные цены и гибкие условия оплаты</h4>
    <p>Мы предлагаем конкурентные цены на все виды стоматологических услуг и предоставляем различные варианты оплаты, включая рассрочку и скидки для постоянных клиентов.</p>
        </li>
        <li class="nav-text-down">
    <h4>Безопасность и стерильность</h4>
    <p>В нашей клинике соблюдаются самые строгие стандарты стерилизации и дезинфекции.
         Мы используем одноразовые материалы и следим за чистотой, чтобы обеспечить полную безопасность пациентов.</p>
        </li>
        </ul>
         
</ul>  
    <ul class="bias">
        <div class="h2">
            <a href="tel:+79271003585">
                <button type="button" name="запись на прием">Записаться на прием</button>
            </a>
    </ul>
    <ul class="nav-left_text_2">
        <h1>Отзывы наших пациентов</h1>
    </ul>
</body>