<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стоматология "Для Вас"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-left_logo">
                <li>
                    <a href="{{ url_for('index') }}">
                    <img src="../static/img/Логотип.jpg" width="200" height="170"></a>
                </li>
            </ul>
        <nav2>
            <ul class="nav-left_text">
                <li><a href="{{ url_for('uslugi') }}">Наши услуги</a></li>
            </ul>
            <ul class="nav-left_text">
                <li><a href="{{ url_for('specialists') }}">Специалисты</a></li>
            </ul>
            <ul class="nav-left_text">
                <li><a href="{{ url_for('contactu') }}">Контакты</a></li>
            </ul>
            <ul class="nav-left_text">
                <li><a href="{{ url_for('photo') }}">Наши фото</a></li>
            </ul>
        </nav2>
            <ul class="nav-left_phonenumber">
                <li><a href="tel:+79271472947">8-927-147-29-47</a></li>
            </ul>
        </nav>
    </header>
<ul class="nav-left_text_2">
    <h1>Стоматология Для Вас - надежные стоматологи, белоснежная улыбка</h1>
</ul>
<ul class="nav-text-down">
    <p>Мы предлагаем комплексный подход к лечению зубов,
        чтобы вы могли гордиться своей улыбкой и чувствовать себя уверенно в любой ситуации. 
        Наша команда высококвалифицированных стоматологов и 
        современное оборудование позволяют обеспечивать максимально эффективное и безопасное лечение.</p> <!-- текст про то, какие мы хорошие-->
    </ul>
<ul class="nav-left_text_2">
    <h1>Почему выбирают именно нас</h1>
</ul>
<ul class="nav-left_text_2">
    <div>
        <li class="nav-left_text_2"><h3>Высококвалифицированные специалисты</h3></li>
        <img src="../static/img/novost-vakansiya-.jpg" width="300" height="1000" border-radius: 10px;>
        <ul class="nav-left_text_2">
            <li class="nav-text-down">
                <p>В нашей клинике работают опытные врачи, которые постоянно совершенствуют свои навыки и 
                следят за новыми достижениями в стоматологии. Это позволяет нам гарантировать высокий уровень профессионализма и уверенность в результате лечения</p>
            </li>
        </ul>
    </div>
    <div>
        <li class="nav-left_text_2"> <h3>Современное оборудование и технологии</h3></li>
        <img src="../static/img/photo-1486049252259-.jpeg"width="300" height="1000" border-radius: 10px;>
        <ul class="nav-left_text_2">    
            <li class="nav-text-down">
                <p>Мы используем передовые технологии и оборудование последнего поколения,
                что делает лечение более безопасным, точным и комфортным. Это помогает нам минимизировать неприятные ощущения и ускорить процесс восстановления.</p>
            </li>
        </ul>
    </div>
    <div>
        <li class="nav-left_text_2"><h3>Индивидуальный подход к каждому пациенту</h3></li>
            <img src="../static/img/1-1.jpg"width="300" height="1000" border-radius: 10px;>
            <ul class="nav-left_text_2">
                <li class="nav-text-down">
                    <p>Мы знаем, что каждый случай уникален, поэтому подбираем индивидуальные планы лечения с учетом особенностей состояния здоровья и пожеланий пациента.
                    Такой подход позволяет достичь наилучших результатов и обеспечить максимальный комфорт.</p>
                </li>
            </ul>
    </div>
    <div>
        <li class="nav-left_text_2"><h3>Доступные цены и гибкие условия оплаты</h3></li>
        <img src="../static/img/87c66df25ba14b1_1650x950_notrise.jpg">
        <ul class="nav-left_text_2">
            <li class="nav-text-down">
                <p>Мы предлагаем конкурентные цены на все виды стоматологических услуг и предоставляем различные варианты оплаты, включая рассрочку и скидки для постоянных клиентов.</p>
            </li>
        </ul>
    </div>
    <div>
        <li class="nav-left_text_2"><h3>Безопасность и стерильность</h3></li>
        <img src="../static/img/mercury_.jpg" width="300px" height="1000px">
        <ul class="nav-left_text_2">
            <li>    
                <p>В нашей клинике соблюдаются самые строгие стандарты стерилизации и дезинфекции.
                    Мы используем одноразовые материалы и следим за чистотой, чтобы обеспечить полную безопасность пациентов.</p>
            </li>
        </ul>
    </div>
</ul>  

   <div>
    <form>
        <a href="tel:+79271472947">
        <button type="button" class="btn-new btn-new:hover nav-left_text_2">Записаться на прием</button>
        </a>
    </form>
   </div> 
    <ul class="nav-left_text_2">
        <h1>Отзывы наших пациентов</h1>
    </ul>
    <ul class="nav-text-down">
        <p>
            В «Стоматологию Для Вас» обратился с кариесом и заменой пломб. Доктор вежливый, настоящий профессионал своего дела. Процедуру провели быстро и качественно, было совсем не больно. Цена = Качество, это именно про это место.
             Поэтому если вам нужно полечить зубы, то это то место где вы можете сделать свою улыбку голливудской совсем без переживаний и боли. Рекомендую
        </p>
        <li><a href="https://vk.com/griezzz24" target="_blank" ><b>Антон Литвин</b></a></li>
    </ul>
    <ul class="nav-text-down">
        <p>
            Зубы починили на отлично  Безболезненно и крепко  Спасибо Алле Владимировне
        </p>
        <li><a href="https://vk.com/maloy_volk" target="_blank"><b>Андрей Волков</b></a></li>
    </ul>
    <ul class="nav-text-down">
        <p>
            Прекрасная клиника, постоянно хожу только туда! Замечательные врачи! Всегда оказывается квалифицированная помощь! Всем советую!
        </p>
        <li><a href="https://vk.com/alina6565" target="_blank"><b>Алина Шмелёва</b></a></li>
    </ul>

</body>