<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стоматология Для Вас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
        <img src="../static/img/логотип svg.svg" width="109" height="120"></a>    
            <h1>Стоматология Для Вас</h1>
        <img src="../static/img/Обозначение карты.svg" width="23" height="25">
            <h6>г. Балаково ул. 30 лет победы, 13</h6>
            <small>Показать на карте</small>
        <img src="../static/img/Иконка телефона №2.svg" width="16" height="33">
            <h6>+7 (929)-147-29-47</h6>
            <small>Alla.Kostenko80@mail.ru</small>
        <img src="../static/img/Иконка календаря.svg" width="26" height="25">
            <h6>Пн-Пт: 8:00-20:00</h6>
            <h6>Сб: 9:00-15:00</h6>
            <h6>Вс: выходной</h6>
        <button class="button">Записаться онлайн</button>
        <div class="header-line"></div>
        <div>
            <img src="../static/img/логотип svg.svg" width="55" height="52"> 
                <h6>Стоматология для Вас</h6>
            <a href="">Услуги</a>
            <a href="">Команда</a>
            <a href="">Цены</a>
            <a href="">Оборудование</a>
            <a href="">Документы</a>
            <a href="">Новости</a>
            <a href="">Отзывы</a>
        </div>
    </header>
    <section>
        <!-- Главные фотки и Лозунг -->
        <div>
            <div>
                <p>Мы предлагаем комплексный подход к лечению зубов, чтобы вы могли гордиться своей улыбкой и чувствовать себя уверенно в любой ситуации. Наша команда высококвалифицированных стоматологов и современное оборудование позволяют обеспечивать максимально эффективное и безопасное лечение.</p>
                <button class="button">Записаться онлайн</button>
            </div>
            <div>
                <div>
                <img src="../static/img/ресепшн.svg">
                </div>
                <div>

                </div>
                <div>

                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="dots-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </section>
<section>
    <!-- Доктора и Услуги -->
    <img src="../static/img/логотип svg.svg" width="70" height="67">
    <h1>Услуги</h1>
    <div>
        <div>
            <img src="../static/img/Костенко Алла.svg" alt="доктор 1">
        </div>
        <div>
            <img src="../static/img/Соколов Василий.svg" alt="доктор 2">
        </div>
        <div>
            <img src="../static/img/Храмова Наталья.svg" alt="доктор 3">
        </div>
        <div>
            <img src="../static/img/Шаврова Наталья.svg" alt="доктор 4">
        </div>
        <div>
            <img src="../static/img/Костенко Екатерина.svg" alt="доктор 5">
        </div>
        <div>
            <img src="../static/img/Наталья.svg" alt="доктор 5">
        </div>
    </div>
</section>
<section>
    <!-- Новости -->
    <img src="../static/img/логотип svg.svg" width="70" height="67">
    <h1>Новости</h1>   
    <div>
        <div>
            <p>Тут будет текст новостей и фотки</p>
            <button class="button">---</button>
        </div>
        <div>
            <p>Тут будет текст новостей и фотки</p>
            <button class="button">---</button>
        </div>
        <div>
            <p>Тут будет текст новостей и фотки</p>
            <button class="button">---</button>
        </div>
        <div>
            <p>Тут будет текст новостей и фотки</p>
            <button class="button">---</button>
        </div>
    </div>
</section>
<section>
    <!-- Преимущества -->
    <img src="../static/img/логотип svg.svg" width="70" height="67">
    <h1>Почему выбирают именно нас</h1>
    <div>
        <div>
            <p>Удобное расположение</p>
            <img src="../static/img/иконка ,, удобное расположение,,.svg" width="47" height="45">
        </div>
        <div>
            <p>Современное оборудование и материалы</p>
            <img src="../static/img/Иконка ,,современное оборудование,,.svg" width="47" height="45">
        </div>
        <div>
            <p>Команда опытных специалистов</p>
            <img src="../static/img/Иконка ,,команда опытных,,.svg" width="47" height="45">
        </div>
        <div>
            <p>Все виды стоматологического лечения в одной клинике</p>
            <img src="../static/img/иконка ,,все виды лечения,,.svg" width="47" height="45">
        </div>
        <div>
            <p>Минимальные сроки лечения</p>
            <img src="../static/img/Иконка ,,минимальный срок,,.svg" width="47" height="45">
        </div>
        <div>
            <p>душевная атмосфера</p>
            <img src="../static/img/Иконка ,,душевная,,.svg" width="44" height="45">
        </div>
    </div>
</section>
<section>
    <!-- Тут слайд шоу фотографий -->
</section>
<section>
    <!-- Отзывы -->
    <img src="../static/img/логотип svg.svg" width="70" height="66">
    <h1>Отзывы</h1>
</section>

<!-- Общая фотка на всю страницу -->

 <footer>
    <div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A19990bb8760ed915b7f5963935c01930c8b120c6df6cb792cab72f02ece27c24&amp;source=constructor" width="1000" height="500" frameborder="0">
        </iframe>
    </div>
    <section>
        <!-- Контакты и только контакты -->
        <img src="../static/img/логотип svg.svg" width="70" height="66">
        <h1>Контакты</h1>
        <div>
            <h3>Телефон:</h3>
            <p>+7 (927)-147-29-47</p>
            <p>+7 (927)-100-35-85</p>
        </div>
        <div>
            <h3>Режим работы</h3>
            <p>Пн-Пт: 8:00-20:00</p>
            <p>Сб: 9:00-15:00</p>
            <p>Вс: выходной</p>
        </div>
        <div>
            <h3>Адрес:</h3>
            <p>413864 г.Балаково, ул. 30 лет победы, д.13</p>
        </div>
    </section>
    <section>
        <!-- кнопки  -->
        <button class="button">Записаться онлайн</button>
        <button class="button">Оставить отзыв</button>
    </section>
    <p>Alla.Kostenko80@mail.ru</p>
    <p>Принимаем оплату наличным или безналичным расчетом</p>
</footer>
<ul class="nav-left_text_2">
    <div class="nav-text-prem text-container">
        <li><h3>Высококвалифицированные специалисты</h3></li>
        <img src="../static/img/novost-vakansiya-.jpg" class="img-text">
        <ul class="nav-left_text_2">
            <p>В нашей клинике работают опытные врачи, которые постоянно совершенствуют свои навыки и 
            следят за новыми достижениями в стоматологии. Это позволяет нам гарантировать высокий уровень профессионализма и уверенность в результате лечения</p>
        </ul>
    </div>
    <div class="nav-text-prem text-container">
        <li><h3>Современное оборудование и технологии</h3></li>
        <img src="../static/img/photo-1486049252259-.jpeg" class="img-text">
        <ul class="nav-left_text_2">    
                <p>Мы используем передовые технологии и оборудование последнего поколения,
                что делает лечение более безопасным, точным и комфортным. Это помогает нам минимизировать неприятные ощущения и ускорить процесс восстановления.</p>
        </ul>
    </div>
    <div class="nav-text-prem text-container">
        <li><h3>Индивидуальный подход к каждому пациенту</h3></li>
        <img src="../static/img/1-1.jpg" class="img-text">
        <ul class="nav-left_text_2">
            <p>Мы знаем, что каждый случай уникален, поэтому подбираем индивидуальные планы лечения с учетом особенностей состояния здоровья и пожеланий пациента.
                Такой подход позволяет достичь наилучших результатов и обеспечить максимальный комфорт.</p>
        </ul>
    </div>
</ul>
<ul class="nav-left_text_2">
    <div class="nav-text-prem text-container">
        <li><h3>Доступные цены и гибкие условия оплаты</h3></li>
        <img src="../static/img/87c66df25ba14b1_1650x950_notrise.jpg" class="img-text">
        <ul class="nav-left_text_2">
            <p>Мы предлагаем конкурентные цены на все виды стоматологических услуг и предоставляем различные варианты оплаты, включая рассрочку и скидки для постоянных клиентов.</p>
        </ul>
    </div>
    <div class="nav-text-prem text-container">
        <li><h3>Безопасность и стерильность</h3></li>
        <img src="../static/img/mercury_.jpg" class="img-text">
        <ul class="nav-left_text_2">   
            <p>В нашей клинике соблюдаются самые строгие стандарты стерилизации и дезинфекции.
                Мы используем одноразовые материалы и следим за чистотой, чтобы обеспечить полную безопасность пациентов.</p>
        </ul>
    </div>
</ul>  

<div>
    <form>
        <a href="tel:+79271472947">
        <button type="button" class="btn-First btn-First:hover nav-left_text_2">Записаться на прием</button>
        </a>
    </form> 
</div>
<div>
    <ul class="nav-left_text_2">
        <h1>Отзывы наших пациентов</h1>
    </ul>
    <ul class="nav-text-down">
        <li><a href="https://vk.com/griezzz24" target="_blank" ><b>Антон Литвин</b></a></li>
        <p>
            В «Стоматологию Для Вас» обратился с кариесом и заменой пломб. Доктор вежливый, настоящий профессионал своего дела. Процедуру провели быстро и качественно, было совсем не больно. Цена = Качество, это именно про это место.
            Поэтому если вам нужно полечить зубы, то это то место где вы можете сделать свою улыбку голливудской совсем без переживаний и боли. Рекомендую
        </p>
    </ul>
    <ul class="nav-text-down">
        <li><a href="https://vk.com/maloy_volk" target="_blank"><b>Андрей Волков</b></a></li>
        <p>
            Зубы починили на отлично  Безболезненно и крепко  Спасибо Алле Владимировне
        </p>
    </ul>
    <ul class="nav-text-down">
        <li><a href="https://vk.com/alina6565" target="_blank"><b>Алина Шмелёва</b></a></li>
        <p>
            Прекрасная клиника, постоянно хожу только туда! Замечательные врачи! Всегда оказывается квалифицированная помощь! Всем советую!
        </p>
    </ul>
</div>
</body>