{% extends 'mobileversion_base.html' %}
{% block title %}
Контакты нашей стоматологии
{% endblock %}
{% block body %}
    <ul>
        <li class="nav-left_text_5">
            <h1>Контакты нашей стоматологии:</h1>
        </li>
        <li class="nav-left_text_6">
            <b>Адрес:</b>
            <p>ул. 30 лет Победы, 13, Балаково</p>
        </li>
        <li class="nav-left_text_6">
            <b>График работы Стоматологии "Для Вас":</b>
            <p><u>Пн.-Пт.:</u> 9:00-19:00.</p>
            <p><u>Сб.-Вс.:</u> Выходной.</p>
        </li>
        <li class="nav-left_text_6">
            <b>Директор:</b>
            <p>Костенко Алла Владимировна</p>
        </li>

        <li class="nav-left_text_6">
            <b>Телефон:</b>
            <p>8-927-147-29-47</p>
        </li>
    </ul>
{% endblock %}