{% extends 'mobileversion_base.html' %}
{% block title %}
Стоматология "Для Вас"
{% endblock %}
{% block body %}
<div>
    <ul class="nav-left_text_2">
        <h1>Стоматология Для Вас - надежные стоматологи, белоснежная улыбка</h1>
    </ul>
    <ul class="nav-text-down">
        <p>Мы предлагаем комплексный подход к лечению зубов,
            чтобы вы могли гордиться своей улыбкой и чувствовать себя уверенно в любой ситуации.
            Наша команда высококвалифицированных стоматологов и
            современное оборудование позволяют обеспечивать максимально эффективное и безопасное лечение.</p> <!-- текст про то, какие мы хорошие-->
    </ul>

</div>
{% endblock %}