<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylemobile.css') }}">
</head>

<body>
<header>
    <ul>
    <li class="nav-left_logo">
        <a href="{{ url_for('mvindex') }}">
        <img src="../static/img/Логотип.jpg" width="200" height="170"></a>
    </li>
<div class="menu-btn" onclick="toggleMenu(this)">
  <div></div>
  <div></div>
  <div></div>
</div>
    <ul class="menu">
      <li><a href="{{ url_for('muslugi') }}">Наши услуги</a></li>
      <li><a href="{{ url_for('mspecialists') }}">Специалисты</a></li>
      <li><a href="{{ url_for('mcontactu') }}">Контакты</a></li>
      <li><a href="{{ url_for('mphoto') }}">Наши фото</a></li>
      <script src="../static/js/buttons.js"></script>
    </ul>
    </ul>
</header>
{% block body %}
{% endblock %}
</body>
</html>