{% extends 'base.html' %}

{% block title %}
Наши услуги
{% endblock %}

{% block body %}    
<div class="h2">
    <h1>Наши услуги:</h1>
</div>

<ul class="bias">
    <div class="h2">
        <a href="{{ url_for('usluga1') }}">
            <button type="button" name="услуга1">Терапевтическая стоматология</button>
        </a>

</ul>
<ul class="bias">
    <div class="h2">
        <a href="{{ url_for('usluga2') }}">
            <button type="button" name="услуга2">Услуга 2</button>
        </a>
</ul>

<ul class="bias">
    <div class="h2">
        <a href="{{ url_for('usluga3') }}">
            <button type="button" name="услуга3">Услуга 3</button>
        </a>
</ul>
    </div>
</ul>
    </div>
</ul>
    </div>
{% endblock %}