<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наша стоматология</title>
</head>
<body>
    <header>
        <a href="">Для Вас</a><!--Тут хуйня, на которую нажимаешь и оно кидает на главную страничку-->
        <a href="">8-927-100-35-85 </a>
    </header>
    <div>
    <h1>Стоматология Для Вас - надежные стоматологи, белоснежная улыбка</h1>

    <p>Мы предлагаем комплексный подход к лечению зубов,
        чтобы вы могли гордиться своей улыбкой и чувствовать себя уверенно в любой ситуации. 
        Наша команда высококвалифицированных стоматологов и 
        современное оборудование позволяют обеспечивать максимально эффективное и безопасное лечение.</p> <!-- текст про то, какие мы хорошие-->
    <h4>Наши услуги:<h4>
        <button type="button" name="услуга">Терапевтическая стоматология</button>

    <!-- тут будут услуги в виде кнопок
     кнопки услуг будут переходить на страницу самих услуг-->
    </div>


</body>
</html>