{% extends 'base.html' %}

{% block title %}
Наши Специалисты
{% endblock %}

{% block body %}
<ul class="nav-left_text_3">
    <h1>Наши специалисты</h1>
</ul>

    <li class="nav-text-down_1">
   <img src="../static/img/Федорченко Наталья Алексеевна.jpg" width="400" height="500">
   <h1>Федорченко Наталья Алексеевна</h1> 
    </li>

    <li class="nav-text-down_1 padd">
    <img src="../static/img/Костенко Алла Владимировна.jpg" width="400" hegiht="400">
    <h1>Костенко Алла Владимировна</h1>
    </li>


    <li class="nav-text-down_1 padd">
        <img src="../static/img/Соколов Василий Алекседрович.jpg" width="400" hegiht="400">
        <h1>Соколов Василий Александрович</h1>
        </li>
        
    <li class="nav-text-down_1 padd">
        <img src="../static/img/Шаврова Наталья Валерьевна.jpg" width="400" hegiht="400">
        <h1>Шаврова Наталья Валерьевна</h1>
        </li>

</ul>
{% endblock %}
