{% extends 'base.html' %}

{% block title %}
Наши Специалисты
{% endblock %}

{% block body %}
<ul class="nav-left_text_3">
    <h1>Наши специалисты</h1>
</ul>
<ul>
    <li class="img_size">
        <figure>
    <img src="../static/img/Федорченко Наталья Алексеевна (2).jpg">
    <figcaption><b>Федорченко Наталья Алексеевна</b></figcaption>
    <figcaption><p>Главный врач</p></figcaption>
        </figure>
    </li>

    <li class="img_size">
        <figure>
    <img src="../static/img/Костенко Алла Владимировна (2).jpg">
    <figcaption><b>Костенко Алла Владимировна</b></figcaption>
    <figcaption><p>Врач-терапевт/директор</p></figcaption>
        </figure>
    </li>


    <li class="img_size">
        <figure>
    <img src="../static/img/Соколов Василий Алекседрович (2).jpg">
    <figcaption><b>Соколов Василий Александрович</b></figcaption>
    <figcaption><p>Врач-стоматолог/ортопед</p></figcaption>
        </figure>
    </li>

    <li class="img_size">
        <figure>
    <img src="../static/img/Шаврова Наталья Валерьевна (2).jpg">
    <figcaption><b>Шаврова Наталья Валерьевна</b></figcaption>
    <figcaption><p>Медицинская сестра</p></figcaption>
        </figure>
    </li>
</ul>
<ul>
    <li class="img_size">
        <figure>
    <img src="../static/img/Храмова Наталья Павловна (2).jpg">
    <figcaption><b>Храмова Наталья Павловна</b></figcaption>
    <figcaption><p>Врач-стоматолог терапевт/ортопед</p></figcaption>
        </figure>
    </li>

    <li class="img_size">
        <figure>
    <img src="../static/img/Костенко Екатерина.jpg">
    <figcaption><b>Костенко Екатерина Олеговна</b></figcaption>
    <figcaption><p>Врач-стоматолог - общей практики</p></figcaption>
        </figure>
    </li>
</ul>
{% endblock %}
