{% extends 'base.html' %}

{% block title %}
Наши Специалисты
{% endblock %}

{% block body %}
<ul class="nav-left_text_3">
    <h1>Наши специалисты</h1>
</ul>
<ul>
<ul class="cntr">
    <li class="ndba pstn_2">
    <img src="../static/img/Федорченко Наталья Алексеевна.jpg">
    <h1>Федорченко Наталья Алексеевна</h1>
    <p>Главный врач</p>
    </li>
<ul class="cntr"></ul>
    <li class="pstn_1">
    <img src="../static/img/Костенко Алла Владимировна.jpg">
    <h1>Костенко Алла Владимировна</h1>
    <p>Врач-терапевт/директор</p>
    </li>
<ul class="cntr"></ul>
    <li class="pstn_4">
    <img src="../static/img/Соколов Василий Алекседрович.jpg">
    <h1>Соколов Василий Александрович</h1>
    <p>Врач-стоматолог/ортопед</p>
    </li>
<ul class="cntr"></ul>
    <li class="pstn_5">
    <img src="../static/img/Шаврова Наталья Валерьевна.jpg">
    <h1>Шаврова Наталья Валерьевна</h1>
    <p>Медицинская сестра</p>
    </li>
<ul class="cntr"></ul>
    <li class="pstn_6">
    <img src="../static/img/Храмова Наталья Павловна.jpg">
    <h1>Шаврова Наталья Валерьевна</h1>
    <p>Врач-стоматолог терапевт/ортопед</p>
    </li>
    
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
{% endblock %}
