<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css) }}">
    <title>Наша стоматология</title>
</head>
<body>
    <header>
    <nav>
        <ul class="nav-left">
            <li><a href="{{ url_for('index') }}">Для Вас</a></li>
        </ul>
        <ul class="nav-right">
            <li><a href="tel:+79271003585">8-927-100-35-85 </a></li>
        </ul>
    </nav>
    </header>

        <div>
    <h1>Стоматология Для Вас - надежные стоматологи, белоснежная улыбка</h1>

    <p>Мы предлагаем комплексный подход к лечению зубов,
        чтобы вы могли гордиться своей улыбкой и чувствовать себя уверенно в любой ситуации. 
        Наша команда высококвалифицированных стоматологов и 
        современное оборудование позволяют обеспечивать максимально эффективное и безопасное лечение.</p>
        </div>
    </body>
    
